/*doc
---
title: Header
name: header
category: Layout
---

```html_example
<header class="header-container" role="banner">
  The header's content gets here
</header>
```
*/

.header {
	margin-top: 1em;
	width: 100%;
	text-align: center;
}
.header__logo {
	padding-left: 22px; // compensation for centering the box
	position: relative;
}
.header__text {
	color: white;
	background-color: $color-primary;
	margin: 0;
	text-align: left;
	padding: 1rem;
  @include susy-breakpoint($break-large) {
    padding: 3rem;
  }
}
.header__image-container {
	margin-top: -3.5em;
	max-height: 20em;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.header__image {
	overflow: hidden;
	vertical-align: center;
	width: 100%;
	height: auto;
}

h1.header__title {
  @include susy-breakpoint($break-large) {
    font-size: 2em;
  }
}
