@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $base-font;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: white;
}